*{
    margin: 0;
    padding: 0;
    font-family: 'Raleway';
}

header{
    width: 100%;
    background-color: hsl(218, 28%, 13%);
}

section{
    background-color: hsl(218, 28%, 13%);
}


.container_header{
    max-width: 1440px;
    margin: 0 auto;
    background-color: hsl(218, 28%, 13%);
    display: flex;
    align-items: center;
    justify-content: space-between; 
    padding: 2em;
}

.logo img{
    min-width: 30%;
}

nav ul{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top: 0;
    list-style-type: none;
}

nav li{
    padding: 0.1em;
    text-align: center;
}

nav a:hover{
    color:aqua;
}

nav a{
    color: white;
    font-size: 1.2em;
    text-decoration: none; 
    padding: 0 0.5em;  
}

/************************************* Section Banner Files locations *********************************************/

.container{
    max-width: 1440px;
    margin: 0 auto;
    background-color: hsl(218, 28%, 13%);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 7em;
}

.content_banner{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    min-width: 420px;
    margin: 0 auto;
}

.illustration img{
    max-width: 100%;
}

.txt_banner{
    color: white;
    padding: 0.3em;
    margin-top: 5em;
    line-height: 1.5em;
}

.txt_banner h2{
    line-height: 1.4em;
}

.txt_banner p{ 
    max-width: 465px;
    margin-top: 1em;   
}

button{
    background: linear-gradient(121deg, rgba(77,197,211,1) 41%, rgba(60,174,208,1) 59%);
    color: white;
    width: 16em;
    height: 3.5em;
    border-radius: 60px;
    font-weight: 600;
    font-size: 1em;
    margin: 10px;
    border-color:hsl(217, 28%, 15%);
    cursor: pointer;
    margin-top: 2em;
}

/**************************************** Section Banner Illustrations ******************************/

.txt_description {
    color: white;
    line-height: 1.6em;
    padding-bottom: 6em;
}


.title{
    color: white;
    font-weight: 700;
    font-size: 1.1em;
    padding: 1em;
}


/*******************************************  Section Banner Productive *************************************/

.txt_prod{
    color: white;
    margin-top: 5em;
    line-height: 1.5em;
    max-width: 366px;
}

.txt_prod h1{
    min-width: 403px;
    line-height: 1.4em;
}

.txt_prod p{ 
    text-align: left;
    margin: 1em 0;   
}

.line {
    text-align: left;
    text-decoration: none;
}

.linkspan {
    color: aqua;
}

.line a{
    text-decoration: none;
}

.image img{
    max-width: 100%;
}

.content__banner{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-width: 330px;
    margin: 0 auto;
}


/****************************************** Section Banner comments **************************************/


.comments{
    text-align: left;
    color: white;
    background-color: hsl(217, 19%, 18%);
    margin-top: 1.5em;
    min-width: 380px;
    padding: 2em 2em;
    font-family: 'Raleway';
    position: relative;
}


.perfil{
    display: flex;
    align-items: center;
    padding: 1.5em 0;
}

.perfil img{
    border-radius: 6em;
    width: 3em;
    margin-right: 1em;
}

.name_country{
    font-weight: 600;
    line-height: 25px;

}

.name_country span{
    font-weight: 100;
}

.quotes{
    position: absolute;
    top: 202em;
    right: 28em;
    max-width: 303;
}


/********************************************** Section Banner Get Access ******************************/

.mail {
    color: rgb(0, 0, 0);
    width: 16em;
    height: 3.5em;
    border-radius: 60px;
    font-weight: 600;
    font-size: 1em;
    border-color:hsl(217, 28%, 15%);
    margin-top: 2em;
    text-align: center;
}

/******************************************************** Section footer ******************************/

footer{
    background-color:hsl(218, 22%, 7%) ;
}

.bg_footer{
    background-color:hsl(218, 22%, 7%) ;
}

.content_footer{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 329px;
    margin: 0 auto;
    padding-bottom: 6em;
    background-color:hsl(218, 22%, 7%) ;
}

.content_footer a{
    list-style: none;
    color: white;
    text-decoration: none;
    font-weight: 500;
    width: 100%;
    margin-top: 1em;
}

.content_footer ul{
    text-align: left;
    line-height: 3em;
}

.icon_txt{
    display: flex;
}

.icon_txt img{
    width: 12%;
    height: 12%;
    padding-right: 1em;
    margin-top: 1em;
}

.content_footer ul{
    margin-top: 60px;
}

.redes{
    display: flex;
    align-items: center;
    justify-content: center;
    filter: contrast(0.5) brightness(20);
}

.redes img{
    width: 10%;
    margin:6em 0.5em 0em 0.5em;
}






/*********************   media queri *******************/


@media (min-width: 720px){
    .container {
        flex-direction: row;
        display: flex;
        justify-content: space-between;
        align-items: center;        
    }

    .logo img{
        min-width: 40%;
    }

    nav ul{
        display: flex;
        align-items: center;
        justify-content: space-around;
    }

    nav li:hover{
        margin: auto;
        width: auto;
        text-decoration: underline;
    }

    nav a {
        font-size: 1.2em;
        padding: 0 0.5em;
    }
    /****** seccion 2 Files locations ******/




.illustration img{
    max-width: 150%;
}

.txt_banner p{ 
    min-width: 508px;
    margin-top: 1em;
    padding: none;   
}

.txt_banner{
    color: white;
    padding: 0.3em;
    margin-top: 5em;
    line-height: 1.5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 526px;
}

 /****** seccion 3 Illustrations ******/

.content_box{
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin: auto;
    min-width: 1024px;
    padding-top: 6em;
}

.txt_description {
    color: white;
    line-height: 1.6em;
    max-width: 432px;
}

.picture_txt h3{
    padding: 1em;
}

/****** seccion 4 Banner Productive ******/
.content__banner{
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    min-width: 1024px;
}

/****** seccion 5 Banner comments ******/

.content___banner{
    display: flex;
    flex-direction: row;
    min-width: 720px;
    align-items: center;
    margin: auto;
}

.content___banner p{
    width: 330px;

}

.comments{
    width: 20em;
    padding:1em;
    margin-right: 1.5em;
}

.comments p{
    padding: 0.5em;
}

/****** seccion 6 Banner Get Access ******/

.input_button{
    display: flex;
    padding-bottom: 2em;
}

.txt_banner{
    max-width: 1440px;
    padding: 3em;
    background-color:  hsl(217, 19%, 18%);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    border-radius: 0.5em;
}

.txt_banner p{
    min-width: 718px;
}

/****** seccion 7 Banner footer ******/

.content_footer{
    flex-direction: row;
}




}